{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="index, follow">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="author" content="https://github.com/spapas/">
  <title>Home</title>
  <link rel="stylesheet" href='{% static "spectre.min.css" %}'>
  <link rel="stylesheet" href='{% static "spectre-icons.min.css" %}'>
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <style>
        .spinner {
            margin: 100px auto 0;
            width: 70px;
            text-align: center;
        }
        
        .spinner>div {
            width: 18px;
            height: 18px;
            background-color: #333;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }
        
        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        
        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
        
        @-webkit-keyframes sk-bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0)
            }
            40% {
                -webkit-transform: scale(1.0)
            }
        }
        
        @keyframes sk-bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            40% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
        }
 

    </style>
    
</head>
<body>
    <div class="container grid-lg">
        <h2>Test</h2>
        <div class="columns" id="non-logged-in">
            <div class='column col-3'>
                You have to log-in!
            </div>
            <div class='column col-3'>
                <button class="btn btn-primary"  id='loginButton'>Login</button>
            </div>
        </div>
        <div class="columns" id="logged-in">
            <div class='column col-3'>
                Welcome <span id='span-username'></span>!
            </div>
            <div class='column col-3'>
                <button class="btn btn-primary"  id='logoutButton'>Logout</button>
            </div>
        </div>
        <hr />
        <div class="columns" id="test">
            <div class='column col-3'>
                <button class="btn btn-primary"  id='testAuthButton'>Test auth</button>
            </div>
            <div class='column col-9'>
                <div id='test-auth-response' ></div>
            </div>
        </div>
    </div>
    
    
<div class="modal" id="login-modal">
    <a href="#close" class="modal-overlay close-modal" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="#close" class="btn btn-clear float-right close-modal" aria-label="Close"></a>
            <div class="modal-title h5">Please login</div>
        </div>
        <div class="modal-body">
            <div class="content">
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="input-username">Username</label>
                        <input class="form-input" type="text" id="input-username" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="input-password">Password</label>
                        <input class="form-input" type="password" id="input-password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="form-checkbox" for="input-local-storage">
                            <input type="checkbox" id="input-local-storage" /> <i class="form-icon"></i>  Use local storage (remember me)
                        </label>
                    </div>
                </form>
                <div class='label label-error mt-1 d-invisible' id='modal-error'>
                    Unable to login!
                </div>
            </div>
        </div>
        <div class="modal-footer">
            
            <button class="btn btn-primary" id='loginOkButton' >Ok</button>
            <a href="#close" class="btn close-modal" >Close</a>
        </div>
    </div>
</div>    
    
    <script src='{% static "jquery-3.3.1.min.js" %}' ></script>
    <script>
        var g_urls = {
            'login': '{% url "rest_login" %}',
            'logout': '{% url "rest_logout" %}',
            'test_auth': '{% url "test_auth" %}',
        };
        var g_auth = localStorage.getItem("auth");
        if(g_auth == null) {
            g_auth = sessionStorage.getItem("auth");
        }
        
        if(g_auth) {
            try {
                g_auth = JSON.parse(g_auth);
            } catch(error) {
                g_auth = null; 
            }
        }

        var initLogin = function() {
            if(g_auth) {
                $('#non-logged-in').hide();
                $('#logged-in').show();
                $('#span-username').html(g_auth.username);
                if(g_auth.remember_me) {
                    console.log("Setting auth for local storage");
                    localStorage.setItem("auth", JSON.stringify(g_auth));
                } else {
                    console.log("Setting auth for session storage");
                    sessionStorage.setItem("auth", JSON.stringify(g_auth));
                }
            } else {
                $('#non-logged-in').show();
                $('#logged-in').hide();
                $('#span-username').html('');
                localStorage.removeItem("auth");
                sessionStorage.removeItem("auth");
            }
            $('#test-auth-response').html("");
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var g_csrftoken = getCookie('csrftoken');

        $(function () {
            initLogin(); 

            $('#loginButton').click(function() {
                $('#login-modal').addClass('active');
            });
            
            $('.close-modal').click(function() {
                $('#login-modal').removeClass('active');
            });
            
            $('#loginOkButton').click(function() {
                var username = $('#input-username').val();
                var password = $('#input-password').val();
                var remember_me = $('#input-local-storage').prop('checked');
                if(username && password) {
                    console.log("Will try to login with ", username, password);
                    $('#modal-error').addClass('d-invisible');
                    $.ajax({
                        url: g_urls.login, 
                        method: "POST", 
                        data: {
                            username: username,
                            password: password,
                            csrfmiddlewaretoken: g_csrftoken
                        }
                    }).done(function(data) {
                        console.log("DONE: ", username, data.key);
                        g_auth = {
                            username: username,
                            key: data.key,
                            remember_me: remember_me
                        };
                        $('#login-modal').removeClass('active');
                        
                        initLogin();
                    }).fail(function(data) {
                        console.log("FAIL", data);
                        $('#modal-error').removeClass('d-invisible');
                    });
                } else {
                    $('#modal-error').removeClass('d-invisible');
                }
            });

            $('#logoutButton').click(function() {
                console.log("Trying to logout");
                $.ajax({
                    url: g_urls.logout, 
                    method: "GET", 
                }).done(function(data) {
                    console.log("DONE: ", data);
                    g_auth = null;
                    initLogin();
                }).fail(function(data) {
                    console.log("FAIL: ", data);
                });
            });
            
            $('#testAuthButton').click(function() {
                $.ajax({
                    url: g_urls.test_auth, 
                    method: "GET", 
                    beforeSend: function(request) {
                        if(g_auth) {
                            request.setRequestHeader("Authority", "Token " + g_auth.key);
                        }
                    },
                }).done(function(data) {
                    console.log("DONE: ", data);
                    $('#test-auth-response').html("<span class='label label-success'>Ok! Response: " + data);
                }).fail(function(data) {
                    console.log("FAIL: ", data);
                     $('#test-auth-response').html("<span class='label label-error'>Fail! Response: " + data.responseText + " (status: " + data.status+")</span>");
                });
            });
        });
        

        
    </script>
  
</body>

</html>
